* {
    box-sizing: border-box;
    text-align: center;
}
body {
    margin: 0;
    font-size: 20px;
}
a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: bold;
    color: white;
    padding: 10px 20px;
}
li {
    list-style-type: none;
    background-color: blue;
    flex: 1;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
}
ul {
    padding: 0px;
    margin: 0px;
}
.link-row {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
}
.link-column a {
    display: flex;
}
#regist{
    display: none;
}
#regist:target {
    display: block;
}
form {
    margin-top: 40px;
}
.login img {
    display: flex;                  /* потом ее невидимой сделать */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    opacity: 40%;
    z-index: 1;
}
.login article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
    background-color: darkblue;
    z-index: 50;
    position: absolute;
    top: 30vh;
    bottom: 30vh;
    left: 36.3333%;
    right: 36.3333%;
}
.login form input {
    width: 300px;
    padding: 3px;
    margin-bottom: 10px;
}
.login div label {
    align-items: flex-start;
    display: flex;
    color: whitesmoke;
    margin-top: 50px;
}
.login input {
    width: 300px;
    padding: 3px;
    background-color: whitesmoke;    
}
.button {
    text-transform: uppercase;
    border-radius: 5px;
    background: -moz-linear-gradient(#bfd9f7, #0065e8, #005fcc);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#bfd9f7), to(#005fcc), color-stop(0.72, #0065e8));
    color: whitesmoke;
    font-weight: bold;
    margin-top: 30px;
}
input::-webkit-input-placeholder {                                      /* для нормальных браузеров */
    color: whitesmoke;
    text-align: left;
}
input::-moz-placeholder {                                               /*для мозиллы*/
    color: whitesmoke;
    text-align: left;

 }
input::-ms-input-placeholder {                                          /* для интернет эксплорера */
    color: whitesmoke;
    text-align: left;
}
input::-ms-reveal,                                                      /* это чтобы убрать глаз на EDGE */
input::-ms-clear {
     display: none;
}
input[type=password] {                                                  
    border-style: none;                                                 
    outline-style: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    text-align: left;
    color: whitesmoke;
}
input[type=text] {
    border-style: none;                                              
    outline-style: none;
    border-bottom: 2px solid white;
    background-color: transparent;
    text-align: left;
    color: whitesmoke;
}
div {
    moz-user-select: none; 
    -khtml-user-select: none; 
    user-select: none; 
}
#remember {
    display:none;
}
label::before {
    position: absolute;
    left: 100px;
}
.square {
    display: block;
    border: 1px solid white;
    height: 18px;
    width: 18px;
    position: absolute;
    left: 99px;
    top: 195px;
}
.x {
    font-size: 40px;
    position: absolute;
    right: 3px;
    top: 3px;
    color: white;
}                                      
#remember:checked + label::before {
    content: "\1F5F8";
    color: whitesmoke;
}
.submenu {
    margin-top: 10px;
    position: absolute;
    display: none;
    width: 100%;
    text-align: center;
}
#mouse:hover .submenu {
    display: block;
}