* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 20px;
}
a {
    display: flex;
    text-decoration: none;
    font-size: bold;
    color: white;
    padding: 10px 20px;
}
li {
    list-style-type: none;
    background-color: darkgoldenrod;
    flex-grow: 2;
}
li :nth-child(1) {
    flex-grow: 1;
}
ul {
    padding: 0px;
}
.link-row {
    display: flex;
    align-items: baseline;
    padding-top: 10px;
    padding-bottom: 10px;
}
.link-column a {
    display: flex;
}