html {
    font-size: 20px;
}

body {
    margin: 0;
    background-color: #EFEBE9;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    max-width: 1200px;
    margin: 2rem auto;

    /* CSS grid layout */
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; /* расстояние между элементами внутри сетки */
}

article:nth-child(1) { /* если без пробела, то относится к artickle, а если поставикть artickle : - тогда это будет иметь отношение к img, который первым идет в теге artickle */
    grid-column: 1/3; /* элемент размещается на несколько линий */
}
article:nth-child(5) {
    grid-column: 2/4;
    /* grid-column-start: 2; */
    /* grid-column-end: 4; */
}
article:nth-child(3) {
grid-column: 4/5;
grid-row:1/4;
}



article {
    position: relative;
}

article span {
    position: absolute;
    top: 10px;
    left: 10px;
    /*right: 10px;*/
    /*bottom: 10px;*/
    padding: 15px 20px;
    background-color: #EFEBE9;
}





